<!DOCTYPE html>
<html>
<head>
  <title>Heroes del Silencio</title>
</head>
<body>
<center>

<%= image_tag("heroes.jpg", :alt => "rss feed") %>

<br>
<h1>HEROES DEL SILENCIO</h1>
<b>( LA CHISPA ADECUADA )</b>
<br><br>
<p>Las palabras fueron avispas</p>
<p>y las calles como dunas</p>
<p>cuando aún te espero llegar...</p>
<p>en un ataúd guardo tu tacto y</p>
<p>una corona</p>
<p>con tu pelo enmarañado</p>
<p>queriendo encontrar un</p>
<p>arco-iris infinito</p>
<p>Mis manos que aún son de hueso</p>
<p>y tu vientre sabe a pan</p>
<p>la catedral es tu cuerpo...</p>
<p>eras verano y mil tormentas, yo</p>
<p>el león que sonrìe a las paredes</p>
<p>que he vuelto a pintar del</p>
<p>mismo color</p>
<p>Estribillo</p>
<p>No se distinguir entre besos y</p>
<p>raíces</p>
<p>no sé distinguir lo complicado</p>
<p>de lo simple</p>
<p>y ahora estás en mi lista de</p>
<p>promesas a olvidar</p>
<p>todo arde si le aplicas la chispa</p>
<p>adecuada</p>
<p>El fuego que era a veces propio</p>
<p>la ceniza siempre ajena</p>
<p>blanca esperma resbalando</p>
<p>por la espina dorsal</p>
<p>ya somos más viejos y sinceros,</p>
<p>y qué más da</p>
<p>si miramos la "laguna"</p>
<p>como llaman a la eternidad</p>
<p>de la ausencia</p>
<p>Estribillo</p>
<br><br>

</center>
</body>
</html>
